<%- include('layout.ejs'); %>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Register</h4>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" method="post" action="/register">
                            <div class="form-group">
                                <label for="name" class="cols-sm-2 control-label">Your Name</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa"
                                                aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="name" id="name"
                                            placeholder="Enter your Name" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">Your Email</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa"
                                                aria-hidden="true"></i></span>
                                        <input type="email" class="form-control" name="email" id="email"
                                            placeholder="Enter your Email" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="phone" class="cols-sm-2 control-label">Your Phone</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        <input type="phone" class="form-control" name="phone" id="phone" placeholder="Enter your Phone" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="location" class="cols-sm-2 control-label">Your Location</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        <input type="location" class="form-control" name="location" id="location" placeholder="Enter your Location" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="degree" class="cols-sm-2 control-label">Your Degree</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        <input type="degree" class="form-control" name="degree" id="degree" placeholder="Enter your Degree" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="branch" class="cols-sm-2 control-label">Your Branch</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        <input type="branch" class="form-control" name="branch" id="branch" placeholder="Enter your Branch" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="cols-sm-2 control-label">Password</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg"
                                                aria-hidden="true"></i></span>
                                        <input type="password" class="form-control" name="password" id="password"
                                            placeholder="Enter your Password" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg"
                                                aria-hidden="true"></i></span>
                                        <input type="password" class="form-control" name="confirm" id="confirm"
                                            placeholder="Confirm your Password" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="userType" class="cols-sm-2 control-label">Register me as an:</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <select class="form-control" id="userType" name="userType">
                                            <option value="Applicant" selected>Applicant</option>
                                            <option value="Employer">Employer</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-2 col-md-6 offset-md-3 ">
                                <button type="submit"
                                    class="btn btn-primary btn-lg btn-block buttonLogin">Register</button>
                            </div>
                            <div class="login-register">
                                <a href="/login">Login</a>
                            </div>
                        </form>
                        <% if (error) { %>
                            <p class="error">
                                <%= error %>
                            </p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>